html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
}
aside {
    width: 20%;
    height: 100%;
}

main {
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 100%;
    height: 100%;
}

button {
    cursor: pointer;
}

table {
    width: 100%;
}

.category {
    cursor: pointer;
}

.textBtn {
    border: 0;
    background-color: inherit;
}

.diceBtn {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.fixedCheckDiv {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.layerPopupContent {
    display: none;
    width: 100%;
    height: 100%;
    color: white;
    overflow-y: scroll;
}
.tooltip {
    position: relative;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 110%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}
.tooltip .tooltipText::after {
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 5px;
}
.tooltip .tooltip-left {
    top: -5px;
    left: 105%;
}

.tooltip .tooltip-left::after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent black transparent transparent;
}

#scoreBoard {
    background-color: aquamarine;
}

#gameRuleShowBtn {
    position: absolute;
    top: 2%;
    left: 2%;
}

#diceBtnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

#rollDicesBtn{
    width: 80px;
    height: 40px;
}

#layerPopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#layer {
    position: relative;
    width: 60%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.6);
}

#popUpCloseBtn {
    position: absolute;
    top: 1%;
    right: 5%;
    color: white;
}

#chanceText {
    position: absolute;
    top: 2%;
    right: 2%;
    margin: 0;
}
